*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(120deg, #f6d365, #fda065);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header, form{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}
form button{
    color: #fda065;
    background: #fff;
    cursor: pointer;
    transition: all 0.4s ease;
}
form button:hover{
    background: #fda065;
    color: #fff;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background: #fff;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li {
     flex: 1;
}
.trash, .complete_btn{
    background: #ff6f47;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete_btn{
    background: rgb(24, 187, 24);
}
.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.animate_fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
select{
    -webkit-appearence: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease-in;
}
.select:hover::after{
    background: #fff;
    color: #ff6f47;
}


